/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
}

/* STYLE CSS */

/* FONT */

@import url('https://fonts.googleapis.com/css?family=Halant:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

/* font-family: 'Halant', serif;
font-family: 'Nunito', sans-serif; */

/* END FONT  */

/* HEADER */

header{
    position: relative;
    z-index: 2;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.36);
}

header *{
    font-family: 'Halant', serif;
    font-weight: 400;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 100%;
}

header nav .logo{
    width: 124px;
}

header nav .logo img{
    display: block;
    width: 100%;
}

header nav a{
    color: #fff;
    font-size: 18px;
}

header nav .menu{
    display: flex;
}

header nav .menu li{
    margin: 0 10px;
}

/* END HEADER */

/* FOOTER */

footer{
    padding: 30px 0;
    background-color: #F0F0F0;
    border-top: 1px solid #2E2727;
}

footer nav .menu{
    text-align: center;
}

footer nav .menu li a{
    display: block;
    font-family: 'Halant', serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 17px;
    color: #000;
}

footer nav .menu li a:hover{
    text-decoration: underline;
}

footer .socialList{
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
}

footer .socialList li{
    position: relative;
    width: 65px;
    height: 65px;
    padding: 5px;
    background-color: #fff;
    margin-right: 70px;
    border-radius: 5px;
}

footer .socialList a{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #2E2727;
    border-radius: 5px;
}

footer .socialList a .socialOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.23);
}

footer .socialList li:last-of-type{
    margin-right: 0;
}

footer .socialList li img{
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer .copyright{
    display: block;
    font-family: 'Halant', serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 17px;
    color: #000;
    text-align: center;
}

/* END FOOTER */

/* GLOBALS */

h2{
    font-family: 'Halant', serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #FFF;
    margin-bottom: 23px;
}

h3{
    font-family: 'Halant', serif;
    font-weight: 500;
    font-size: 14px;
    color: #FFF;
}

h4{
    font-family: 'Halant', serif;
    font-size: 10px;
    color: #FFF;
}

p{
    color: #FFF;
    font-family: 'Halant', serif;
    font-size: 12px;
}

.note{
    position: relative;
    width: 40px;
    height: 30px;
    background-color: #000;
    color: #fff;
    font-family: 'Halant', serif;
    font-size: 12px;
}

.note p{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
/* END GLOBALS */

/* SLIDER CONTAINER */

.sliderContainer{
    position: relative;
    display: flex;
    padding: 77px 40px 0 40px;
    height: calc( 100vh - 159px );
}

.backgroundImage{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.backgroundImage img{
    display: block;
    width: 100%;
}

.sliderContainer .blockChoice{
    width: 428px;
}

.sliderContainer .blockView{
    width: 715px;
}

/* END SLIDER CONTAINER */

/* BLOCK CHOICE */

.blockChoice{
    margin-right: 232px;
}

.blockChoice,
.blockView{
    z-index: 2;
}

.blockChoice .listFilms{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blockChoice .listFilms .item{
    width: 200px;
    margin-bottom: 20px;
    display: flex;
    background: rgba(255, 255, 255, 0.22);
    padding: 12px 10px;
}

.blockChoice .listFilms .item .note{
    margin-right: 7px;
}

.blockChoice .listFilms .item h3{
    margin-bottom: 8px;
}

/* END BLOCK CHOICE */

.blockView iframe{
    width: 100%;
    height: 27,36vw;
    margin-bottom: 35px;
}

.blockView .filmDescription .filmTitleNote{
    display: flex;
    align-items: center;
}

.filmDescription .note{
    margin-right: 17px;
}


.filmDescription h3{
    font-size: 24px;
    margin-bottom: 7px;
}

.filmDescription h4{
    font-size: 14px;
    margin-bottom: 10px;
}

.filmDescription p{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    color: #fff;
}

/* BLOCK ACTUALITIES */

.actualities{
    padding: 8px 40px 0 40px;
    background-color: #F0F0F0;
}

.actualities h2{
    color: #000;
}

.actualities .actualitiesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.actualities .actualitiesContainer .item{
    width: 664px;
    margin-bottom: 93px;
}

.actualities .actualitiesContainer .item:nth-child(2n){
    margin-top: 204px;
}

.actualities .actualitiesContainer .item:nth-child(2n) figure{
    margin-left: auto;
}

.actualities .actualitiesContainer .item:nth-child(2n) .actualitiesText{
    margin-left: 0;
}

.actualities .actualitiesContainer .item:nth-child(2n) .actualitiesText .date{
    left: inherit;
    right: 0;
}

.actualities .actualitiesContainer .item:nth-child(3){
    margin-top: -204px;
}


.actualities .actualitiesContainer .item figure{
    width: 600px;
    height: 216px;
    z-index: 1;
}

.actualities .actualitiesContainer .item figure img{
    display: block;
    width: 100%;
    height: 100%;
}

.actualities .actualitiesContainer .item .actualitiesText{
    position: relative;
    margin-left: auto;
    width: 644px;
    background-color: #fff;
    color: #000;
    z-index: 2;
    padding: 16px 30px;
}

.actualities .actualitiesContainer .item .actualitiesText .date{
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    padding: 6px;
    transform: translateY(1px);
}

.actualities .actualitiesContainer .item .actualitiesText .title{
    font-family: 'Halant', serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.actualities .actualitiesContainer .item .actualitiesText .description{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    text-transform: capitalize;
}

/* END BLOCK ACTUALITIES */

/* BLOCK A SINGLE MOVIE */

.movie{
    display: flex;
    justify-content: space-around;
    margin: 50px 20px;
    align-items : center;
}

.trailer{
    width: 50%;
    margin-right: 50px;
}

.trailer video{
    width: 100%;
}

.presentation{
    width: 50%;
}

.presentation .note{
    padding: 5px;
}

.presentation h2{
    display: inline-block;
    margin-bottom: 5px;
}

.presentation .genre{
    font-style: italic;
    margin-bottom : 10px;
}

.presentation .synopsis{
    font-size: 14px;
    line-height: 25px;
}

ul.glide__slides{
    margin: 0 30px;
}

li.glide__slide{
   margin-right: 15px !important; 
}

.glide__slide--active {
    background-color: #497cdd !important;
}

div[data-glide-el="controls"] {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
}

button[data-glide-dir="<"], button[data-glide-dir=">"] {
    position: absolute;
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 3px;
    background-color: #eee;
    opacity: .3;
    color: #000;
    cursor: pointer;
}

button[data-glide-dir=">"] {
    right: 5px;
}

/* END OF A SINGLE MOVIE */ 

/* Modal page movie */

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

 /* Modal Header */
.modal-header {
  padding: 2px 5px;
  background-color: #000;
  color: white;
}

.modal-header h2{
    margin : 10px 0;
    text-decoration: none;
}

/* Modal Body */
.modal-body {
    padding: 10px 16px;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-content .modal-body p{
    color: #000;
}

.modal-content .close{
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
} 
/* Part our partners */

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
}

.page-title{
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    font-size: 30px;
}

.separator{
    width: 100px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    position: relative;
    z-index: 2;
}

.partners{
    position: relative;
    z-index: 2;
    padding: 0 40px;
    display: flex;
    justify-content : space-between;
    flex-wrap: wrap;
    margin: 50px 0 0 0;
}

.partner{
    max-width: 400px;
    margin-bottom: 30px;
}

.partner .title{
    margin: 10px 0;
    text-align: center;
}

.partner .description{
    padding: 0 10px;
}

.partner img{
    max-width: 100%;
    height: auto;
}

/* end of partners */

/* End modal */

#map { 
    height: 180px; 
}



